# ---------------------------------
# Logs
# ---------------------------------
*.log

# ---------------------------------
# Environment files
# ---------------------------------
.env
.env.backup
.env.production

# ---------------------------------
# Composer / PHP related
# ---------------------------------
/vendor
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/auth.json

# ---------------------------------
# Node / Frontend related
# ---------------------------------
/node_modules
/public/build
/public/hot

# ---------------------------------
# Storage / Uploads / Keys
# ---------------------------------
/storage/pail
/storage/*.key
/public/storage/*   # ユーザーアップロードファイル

# ---------------------------------
# IDE / Editor / Tools
# ---------------------------------
/.idea
/.vscode
/.zed
/.nova
/.fleet
Homestead.json
Homestead.yaml

# ---------------------------------
# System files
# ---------------------------------
.DS_Store
Thumbs.db
